/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

/* general */
:root {
	--color-secondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
}

body{
    font-family: "Noto Sans", sans-serif; 
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-secondary)
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

header nav ul li{
    margin: 20px;
}

/* main */

.left{
    width: 60%;
}

.left img{
    width: 100%;
}

.right{
    width: 40%;
    padding-top: 3%;
}

.section-bg{
    background-color: var(--color-section-bg);
}

/* footer */

footer{
    background-color: var(--color-primary);
    color: var(--color-secondary)
}

footer .top{
    border-bottom: 1px solid var(--color-contrast);
}

/* utility */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* .p-abs{
    position: absolute;
}

.p-rel{
    position: relative;
}

.img-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

/* utility flex */

.d-flex{
    display: flex;
    /* flow: row wrap; */
}

.r-rev{
    flex-direction: row-reverse;
}

.sp-bet{
    justify-content: space-between;
}

.a-center{
    align-items: center;
    align-content: center;
}

.a-end{
    align-content: flex-end;
}


/* elements */

/* img */

img{
    max-width: 100%;
}

.flag{
    height: 1em;
    margin-right: 5px;
}

.arrow{
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: var(--color-secondary);
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* buttons */

.btn{
    display: block;
    padding: 6px 12px;
    border-radius: 50px;
}

/*a decoration */

a{
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* text */

.txt-center{
    text-align: center;
}

/* color */

.prim-color{
    color: var(--color-primary);
}

/* background color */

.bg-secondary{
    background-color: var(--color-secondary);
}