/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

/* general */
:root {
	--color-secondary: #ffffff;
	--color-primary: #23272a;
	--color-header-bg: #255ee9;
	--color-section-bg: #f6f6f6;
	--color-contrast: #aebbe7;
    --color-contrast2: #5865f2;
    --color-hoverbtnprimary: #313338;
}

body{
    font-family: "Noto Sans", sans-serif; 
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

h1{
    font-size: 56px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 22px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 12px;
}

nav{
    font-size: 12px;
}

p{
    font-size: 16px;
    padding-top: 1em;
}

/* header */
header{
    background-color: var(--color-header-bg);
    color: var(--color-secondary)
}

#hero{
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
}

header nav ul li{
    margin: 20px;
}

.header-p{
    padding-top: 5%;
    padding-bottom: 2%;
}

.header-margin{
    margin: 1%;
}

/* main */

.left{
    width: 60%;
}

.left img{
    width: 100%;
}

.right{
    width: 40%;
    padding-top: 3%;
}

.section-bg{
    background-color: var(--color-section-bg);
}


/* footer */

footer{
    background-color: var(--color-primary);
    color: var(--color-secondary)
}

footer .top{
    border-bottom: 1px solid var(--color-contrast);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

footer .bottom{
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.footer-links{
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
}

.length{
    max-width: 200px;
}

/* utility */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.medium-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.small-container{
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.smaller-container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.in-block{
    display: inline-block;
}

/* utility flex */

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.d-column{
    flex-flow: column wrap;
}

.r-rev{
    flex-direction: row-reverse;
}

.sp-bet{
    justify-content: space-between;
}

.sp-around{
    justify-content: space-around;
}

.sp.even{
    justify-content: space-evenly;
}

.a-center{
    align-items: center;
    align-content: center;
}

.a-end{
    align-content: flex-end;
}

.j-center{
    justify-content: center;
}

/* padding */

.pad-tb{
    padding-top: 5%;
    padding-bottom: 5%;
}

.pad-b{
    padding-bottom: 10%;
}

.pad-b2{
    padding-bottom: 5%;
}

/* margin */

.mg-social{
    margin-top: 24px;
}

.mg-right{
    margin-right: 24px;
}

/* text */

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

/* color */

.prim-color{
    color: var(--color-primary);
}

.sec-color{
    color: var(--color-secondary)
}

.contr-color{
    color: var(--color-contrast2);
}

/* background color */

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-contrast{
    background-color: var(--color-contrast2);
}

.bg-primary{
    background-color: var(--color-primary);
}

/* elements */

.flag{
    height: 1em;
    margin-right: 5px;
}

.arrow{
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: var(--color-secondary);
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


/* buttons */

.btn{
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50px;
}


/*decoration */

/* a decoration */

a{
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover:not(.btn){
    text-decoration: underline;
}

/* btn decoration */

.btn.bg-contrast:hover{
    box-shadow: 0 8px 15px rgba(0,0,0.2);
    background-color: #7289da;
}

.btn.bg-secondary:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    background-color: var(--color-secondary);
    color: var(--color-contrast2);
}

.btn.bg-primary:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    background-color: var(--color-hoverbtnprimary);
}
